In [1]:
import pandas as pd
import numpy as np

In [2]:
df_bilheteria = pd.read_csv('BilheteriaObrasSemana.csv', encoding='latin1', sep=';')
df_bilheteria = df_bilheteria[['TITULO_ORIGINAL', 'GENERO', 'PAIS_ORIGEM', 'COPIAS', 'SALAS', 'PUBLICO', 'RENDA', 'RAZAO_SOCIAL_DISTRIBUIDORA', 'ANO_CINEMATOGRAFICO']]

In [3]:
df_bilheteria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51176 entries, 0 to 51175
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TITULO_ORIGINAL             51176 non-null  object
 1   GENERO                      51176 non-null  object
 2   PAIS_ORIGEM                 51176 non-null  object
 3   COPIAS                      51176 non-null  int64
 4   SALAS                       51176 non-null  int64
 5   PUBLICO                     51176 non-null  int64
 6   RENDA                       51176 non-null  object
 7   RAZAO_SOCIAL_DISTRIBUIDORA  51176 non-null  object
 8   ANO_CINEMATOGRAFICO         51176 non-null  int64
dtypes: int64(4), object(5)
memory usage: 3.5+ MB

In [4]:
df_bilheteria

,TITULO_ORIGINAL,GENERO,PAIS_ORIGEM,COPIAS,SALAS,PUBLICO,RENDA,RAZAO_SOCIAL_DISTRIBUIDORA,ANO_CINEMATOGRAFICO
0,COLLEGE,Ficção,Estados Unidos,8,8,833,"5325,0",ANTONIO FERNANDES FILMES LTDA,2009
1,O ABORTO DOS OUTROS,Documentário,Brasil,1,1,40,"196,0",ANTONIO FERNANDES FILMES LTDA,2009
2,ONDE ANDARÁ DULCE VEIGA?,Ficção,"Brasil, Chile",1,1,66,"210,0",ANTONIO FERNANDES FILMES LTDA,2009
3,QUAND J'ETAIS CHANTEUR,Ficção,França,1,1,103,"842,92",ANTONIO FERNANDES FILMES LTDA,2009
4,REC,Ficção,Espanha,2,2,252,"1575,0",ANTONIO FERNANDES FILMES LTDA,2009
...,...,...,...,...,...,...,...,...,...
51171,BELLE DE JOUR,Ficção,"França, Itália",4,4,218,"3058,0",ZETA FILMES LTDA,2017
51172,BLOW-UP,Ficção,"Estados Unidos, Itália, Reino Unido",1,1,16,"80,0",ZETA FILMES LTDA,2017
51173,COLO,Ficção,Portugal,2,2,60,"464,0",ZETA FILMES LTDA,2017
51174,"GRADUATE, THE",Ficção,Estados Unidos,1,1,12,"96,0",ZETA FILMES LTDA,2017
51175,JEUNE FEMME,Ficção,França,5,10,1094,"15903,87",ZETA FILMES LTDA,2017

In [5]:
df_bilheteria['RENDA'] = df_bilheteria['RENDA'].str.replace(',', '.').astype(float)
df_bilheteria

,TITULO_ORIGINAL,GENERO,PAIS_ORIGEM,COPIAS,SALAS,PUBLICO,RENDA,RAZAO_SOCIAL_DISTRIBUIDORA,ANO_CINEMATOGRAFICO
0,COLLEGE,Ficção,Estados Unidos,8,8,833,5325.00,ANTONIO FERNANDES FILMES LTDA,2009
1,O ABORTO DOS OUTROS,Documentário,Brasil,1,1,40,196.00,ANTONIO FERNANDES FILMES LTDA,2009
2,ONDE ANDARÁ DULCE VEIGA?,Ficção,"Brasil, Chile",1,1,66,210.00,ANTONIO FERNANDES FILMES LTDA,2009
3,QUAND J'ETAIS CHANTEUR,Ficção,França,1,1,103,842.92,ANTONIO FERNANDES FILMES LTDA,2009
4,REC,Ficção,Espanha,2,2,252,1575.00,ANTONIO FERNANDES FILMES LTDA,2009
...,...,...,...,...,...,...,...,...,...
51171,BELLE DE JOUR,Ficção,"França, Itália",4,4,218,3058.00,ZETA FILMES LTDA,2017
51172,BLOW-UP,Ficção,"Estados Unidos, Itália, Reino Unido",1,1,16,80.00,ZETA FILMES LTDA,2017
51173,COLO,Ficção,Portugal,2,2,60,464.00,ZETA FILMES LTDA,2017
51174,"GRADUATE, THE",Ficção,Estados Unidos,1,1,12,96.00,ZETA FILMES LTDA,2017
51175,JEUNE FEMME,Ficção,França,5,10,1094,15903.87,ZETA FILMES LTDA,2017

In [6]:
df_bilheteria['PAIS_ORIGEM'].value_counts().head(50)

PAIS_ORIGEM
 Estados Unidos                            16373
 Brasil                                    11331
 França                                     5617
 Alemanha                                    752
 Reino Unido                                 714
 Argentina                                   698
 Estados Unidos, Reino Unido                 671
 Itália                                      659
 Espanha                                     624
 Japão                                       407
 Argentina, Espanha                          403
 Bélgica, França                             391
 França, Itália                              343
 Canadá                                      310
 Suécia                                      270
 Inglaterra                                  252
 Coréia do Sul                               251
 Canadá, Estados Unidos                      246
 México                                      200
 Bélgica                                     198
 Alemanha, França                            197
 Estados Unidos, França                      181
 Brasil, Argentina                           168
 China                                       158
 Austrália                                   152
 Alemanha, Estados Unidos                    148
 Brasil, Portugal                            145
 Dinamarca                                   136
 Israel                                      135
 Rússia                                      132
 Uruguai                                     132
 Portugal                                    127
 China, Estados Unidos                       127
 Brasil, França                              125
 Irã                                         124
 Canadá, França                              107
 Espanha, França                             105
 Polônia                                     104
 Bélgica, França, Luxemburgo                  97
 Bélgica, França, Itália                      95
 Brasil, Estados Unidos                       94
 Romênia                                      90
 Estados Unidos, França, Reino Unido          89
 Espanha, Estados Unidos                      88
 Austrália, Estados Unidos, Reino Unido       84
 Austrália, Estados Unidos                    84
 Alemanha, França, Reino Unido                81
 Índia                                        77
 França, Irã                                  77
 Argentina, Brasil                            75
Name: count, dtype: int64

In [7]:
# temp_df = df_bilheteria['PAIS_ORIGEM'].str.split(',', expand=True).apply(lambda x: x.str.strip())
# brasil_rows = temp_df[temp_df[0] == 'Brasil']
# brasil_rows

df_bilheteria['ORIGEM'] = df_bilheteria['PAIS_ORIGEM'].str.split(',').str[0].str.strip()
df_bilheteria = df_bilheteria[['TITULO_ORIGINAL', 'GENERO', 'COPIAS', 'SALAS','PAIS_ORIGEM', 'PUBLICO', 'RENDA', 'RAZAO_SOCIAL_DISTRIBUIDORA', 'ANO_CINEMATOGRAFICO', 'ORIGEM']]

df_bilheteria

,TITULO_ORIGINAL,GENERO,COPIAS,SALAS,PAIS_ORIGEM,PUBLICO,RENDA,RAZAO_SOCIAL_DISTRIBUIDORA,ANO_CINEMATOGRAFICO,ORIGEM
0,COLLEGE,Ficção,8,8,Estados Unidos,833,5325.00,ANTONIO FERNANDES FILMES LTDA,2009,Estados Unidos
1,O ABORTO DOS OUTROS,Documentário,1,1,Brasil,40,196.00,ANTONIO FERNANDES FILMES LTDA,2009,Brasil
2,ONDE ANDARÁ DULCE VEIGA?,Ficção,1,1,"Brasil, Chile",66,210.00,ANTONIO FERNANDES FILMES LTDA,2009,Brasil
3,QUAND J'ETAIS CHANTEUR,Ficção,1,1,França,103,842.92,ANTONIO FERNANDES FILMES LTDA,2009,França
4,REC,Ficção,2,2,Espanha,252,1575.00,ANTONIO FERNANDES FILMES LTDA,2009,Espanha
...,...,...,...,...,...,...,...,...,...,...
51171,BELLE DE JOUR,Ficção,4,4,"França, Itália",218,3058.00,ZETA FILMES LTDA,2017,França
51172,BLOW-UP,Ficção,1,1,"Estados Unidos, Itália, Reino Unido",16,80.00,ZETA FILMES LTDA,2017,Estados Unidos
51173,COLO,Ficção,2,2,Portugal,60,464.00,ZETA FILMES LTDA,2017,Portugal
51174,"GRADUATE, THE",Ficção,1,1,Estados Unidos,12,96.00,ZETA FILMES LTDA,2017,Estados Unidos
51175,JEUNE FEMME,Ficção,5,10,França,1094,15903.87,ZETA FILMES LTDA,2017,França

In [8]:
df_bilheteria['ORIGEM'].unique()

array(['Estados Unidos', 'Brasil', 'França', 'Espanha', 'África do Sul',
       'Austrália', 'Alemanha', 'Argentina', 'Bélgica', 'Itália',
       'Dinamarca', 'Canadá', 'China', 'Inglaterra', 'Reino Unido',
       'México', 'Coréia do Sul', 'Turquia', 'Suíça', 'Japão', 'Israel',
       'Romênia', 'Suécia', 'Polônia', 'Chile', 'Áustria', 'Hong Kong',
       'Bósnia-Herzegóvina', 'Líbano', 'Índia', 'Portugal', 'Peru',
       'Uruguai', 'Noruega', 'Colômbia', 'Emirados Árabes Unidos',
       'Bulgária', 'Finlândia', 'Chade', 'Mônaco', 'Sérvia', 'Irlanda',
       'Arábia Saudita', 'Irã', 'Iraque', 'Egito', 'Rússia', 'Grécia',
       'Cuba', 'Venezuela', 'Hungria', 'Holanda', 'Camboja',
       'Croácia (Hrvatska)', 'Taiwan', 'Paraguai', 'Tailândia',
       'Islândia', 'Afeganistão', 'Cingapura', 'Ucrânia',
       'República Tcheca', 'Argélia', 'Filipinas', 'Albânia', 'Estônia',
       'Iêmen', 'Eslováquia'], dtype=object)

In [9]:
#df_bilheteria.to_csv('bilheteria_semanal.csv')

In [10]:
df_bilheteria.loc[42176]

TITULO_ORIGINAL                           CAPTAIN AMERICA: CIVIL WAR
GENERO                                                        Ficção
COPIAS                                                             0
SALAS                                                           1635
PAIS_ORIGEM                                           Estados Unidos
PUBLICO                                                      4074628
RENDA                                                     61046213.0
RAZAO_SOCIAL_DISTRIBUIDORA    THE WALT DISNEY COMPANY (BRASIL) LTDA.
ANO_CINEMATOGRAFICO                                             2016
ORIGEM                                                Estados Unidos
Name: 42176, dtype: object

In [11]:
df_bilheteria

,TITULO_ORIGINAL,GENERO,COPIAS,SALAS,PAIS_ORIGEM,PUBLICO,RENDA,RAZAO_SOCIAL_DISTRIBUIDORA,ANO_CINEMATOGRAFICO,ORIGEM
0,COLLEGE,Ficção,8,8,Estados Unidos,833,5325.00,ANTONIO FERNANDES FILMES LTDA,2009,Estados Unidos
1,O ABORTO DOS OUTROS,Documentário,1,1,Brasil,40,196.00,ANTONIO FERNANDES FILMES LTDA,2009,Brasil
2,ONDE ANDARÁ DULCE VEIGA?,Ficção,1,1,"Brasil, Chile",66,210.00,ANTONIO FERNANDES FILMES LTDA,2009,Brasil
3,QUAND J'ETAIS CHANTEUR,Ficção,1,1,França,103,842.92,ANTONIO FERNANDES FILMES LTDA,2009,França
4,REC,Ficção,2,2,Espanha,252,1575.00,ANTONIO FERNANDES FILMES LTDA,2009,Espanha
...,...,...,...,...,...,...,...,...,...,...
51171,BELLE DE JOUR,Ficção,4,4,"França, Itália",218,3058.00,ZETA FILMES LTDA,2017,França
51172,BLOW-UP,Ficção,1,1,"Estados Unidos, Itália, Reino Unido",16,80.00,ZETA FILMES LTDA,2017,Estados Unidos
51173,COLO,Ficção,2,2,Portugal,60,464.00,ZETA FILMES LTDA,2017,Portugal
51174,"GRADUATE, THE",Ficção,1,1,Estados Unidos,12,96.00,ZETA FILMES LTDA,2017,Estados Unidos
51175,JEUNE FEMME,Ficção,5,10,França,1094,15903.87,ZETA FILMES LTDA,2017,França