In [1]:
import pandas as pd
import numpy as np

In [3]:
df_obra_n_publi_br_invest_indi = pd.read_csv('ObrasNaoPublicitariasBrasileirasComFomentoIndireto.csv', encoding='latin1', sep=';')
df_obra_n_publi_br_invest_indi = df_obra_n_publi_br_invest_indi[['TITULO_ORIGINAL', 'NUMERO_SALIC']]
df_obra_n_publi_br_invest_indi

                                        TITULO_ORIGINAL  NUMERO_SALIC
0     SEJA O QUE DEUS QUISER                        ...         23734
1     SEJA O QUE DEUS QUISER                        ...           327
2     DURVAL DISCOS                                 ...        973937
3     RUA SEIS SEM NUMERO                           ...           374
4     DESMUNDO                                      ...        984739
...                                                 ...           ...
2406  BEM-VINDA VIOLETA                             ...        180432
2407  IRACEMAS                                      ...        150514
2408  AUTO POSTO - 2ª TEMPORADA                     ...        210003
2409  A VIRADA                                      ...        230092
2410  TECA E TUTI: UMA NOITE NA BIBLIOTECA          ...         70459

[2411 rows x 2 columns]

In [4]:
df_obra_n_publi_br_invest_indi.to_csv('obra_n_publi_br_invest_indi.csv')