In [1]:
import pandas as pd
import numpy as np

In [3]:
df_obra_n_publi_br_fsa = pd.read_csv('ObrasNaoPublicitariasBrasileirasComInvestimentoFSA.csv', encoding='latin1', sep=';')
df_obra_n_publi_br_fsa = df_obra_n_publi_br_fsa[['TITULO_ORIGINAL', 'NUMERO_FSA']]
df_obra_n_publi_br_fsa

                                        TITULO_ORIGINAL  NUMERO_FSA
0     ONDE A CORUJA DORME                           ...   210036000
1     O TABLADO E MARIA CLARA MACHADO               ...   212030500
2     BESOURO                                       ...   210053100
3     HISTÓRIAS DE AMOR DURAM APENAS 90 MINUTOS (SPL...   209060100
4     DO COMEÇO AO FIM                              ...   209061400
...                                                 ...         ...
2055  MAMULENGO                                     ...        3823
2056  PORNOMELANCOLIA                               ...        3839
2057  NADA SERÁ COMO ANTES - A MÚSICA DO CLUBE DA ES...        2124
2058  PARTOUR                                       ...        9999
2059  PARTOUR                                       ...        2956

[2060 rows x 2 columns]

In [4]:
df_obra_n_publi_br_fsa.to_csv('obra_n_publi_br_fsa.csv')