In [1]:
import pandas as pd
import numpy as np

In [2]:
df_obra_n_publi_br_fsa = pd.read_csv('ObrasNaoPublicitariasBrasileirasComInvestimentoFSA.csv', encoding='latin1', sep=';')
df_obra_n_publi_br_fsa

,CPB,TITULO_ORIGINAL,NUMERO_FSA
0,B0700640600000,ONDE A CORUJA DORME ...,210036000
1,B0700727000000,O TABLADO E MARIA CLARA MACHADO ...,212030500
2,B0901080700000,BESOURO ...,210053100
3,B0901099200000,HISTÓRIAS DE AMOR DURAM APENAS 90 MINUTOS (SPL...,209060100
4,B0901103700000,DO COMEÇO AO FIM ...,209061400
...,...,...,...
2055,B2300154100000,MAMULENGO ...,3823
2056,B2300165900000,PORNOMELANCOLIA ...,3839
2057,B2300166100000,NADA SERÁ COMO ANTES - A MÚSICA DO CLUBE DA ES...,2124
2058,B2300166800000,PARTOUR ...,9999
2059,B2300166800000,PARTOUR ...,2956

In [3]:
df_obra_n_publi_br_fsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2060 entries, 0 to 2059
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CPB              2060 non-null   object
 1   TITULO_ORIGINAL  2060 non-null   object
 2   NUMERO_FSA       2060 non-null   int64
dtypes: int64(1), object(2)
memory usage: 48.4+ KB

---

In [4]:
df_obra_n_publi_br_fsa.to_csv('to_replace.ObrasNaoPublicitariasBrasileirasComInvestimentoFSA.csv', encoding='utf-8', index=False)