In [9]:
import pandas as pd
import numpy as np

In [10]:
df_obra_n_publi_br_invest_indi = pd.read_csv('ObrasNaoPublicitariasBrasileirasComFomentoIndireto.csv', encoding='latin1', sep=';')
df_obra_n_publi_br_invest_indi

,CPB,TITULO_ORIGINAL,NUMERO_SALIC
0,B0200000400000,SEJA O QUE DEUS QUISER ...,23734
1,B0200000400000,SEJA O QUE DEUS QUISER ...,327
2,B0200001000000,DURVAL DISCOS ...,973937
3,B0200001200000,RUA SEIS SEM NUMERO ...,374
4,B0200001300000,DESMUNDO ...,984739
...,...,...,...
2406,B2300147900000,BEM-VINDA VIOLETA ...,180432
2407,B2300148100000,IRACEMAS ...,150514
2408,B2300149000000,AUTO POSTO - 2ª TEMPORADA ...,210003
2409,B2300149300000,A VIRADA ...,230092
2410,B2300170000000,TECA E TUTI: UMA NOITE NA BIBLIOTECA ...,70459

In [11]:
df_obra_n_publi_br_invest_indi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2411 entries, 0 to 2410
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CPB              2411 non-null   object
 1   TITULO_ORIGINAL  2411 non-null   object
 2   NUMERO_SALIC     2411 non-null   int64
dtypes: int64(1), object(2)
memory usage: 56.6+ KB

In [12]:
df_obra_n_publi_br_invest_indi.to_csv('to_replace.ObrasNaoPublicitariasBrasileirasComFomentoIndireto.csv')