In [1]:
import pandas as pd
import numpy as np

In [2]:
df_pais_obras_nao_publi_br = pd.read_csv('PaisesDeOrigemObrasNaoPublicitariasBrasileiras.csv', encoding='latin1', sep=';')
df_pais_obras_nao_publi_br

,CPB,TITULO_ORIGINAL,PAIS_ORIGEM
0,B0200000400000,SEJA O QUE DEUS QUISER ...,BRA
1,B0200000600000,ROCINHA BRASIL77 ...,BRA
2,B0200000700000,ROCINHA 76/96 ...,BRA
3,B0200000800000,NANDERU - PANORÂMICA TUPINAMBÁ ...,BRA
4,B0200000900000,ABC BRASIL ...,BRA
...,...,...,...
46743,B2300170400000,BANDIDA ...,BRA
46744,B2300170600000,FAMÍLIA PARAÍSO - 2ª TEMPORADA ...,BRA
46745,B2300170700000,BARRO SANTO: MÃO E FÉ ...,BRA
46746,B2300170800000,UM POETA NO MEIO DOS POETAS ...,BRA
46747,B600566000000,CONVERSA FIADA ...,BRA

In [3]:
df_pais_obras_nao_publi_br.to_csv('to_replace.PaisesDeOrigemObrasNaoPublicitariasBrasileiras.csv', encoding='utf-8', index=False)